apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-pswirqds
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-pswirqds:51dd82cef20a8d33c8d36fca9b58d4177d552505@sha256:a367ed861870dd3ad08bd19a975518e74fd05cbcd39c7d1bf773d0adf0be4bf9
          name: container-image
